<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.workitem.dao.WorkDailyReportDao">

    <select id="getByEmployeeAndDate" resultType="net.lab1024.sa.admin.module.business.workitem.domain.entity.WorkDailyReportEntity">
        SELECT *
        FROM t_work_daily_report
        WHERE employee_id = #{employeeId}
        AND report_date = #{reportDate}
    </select>

    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.workitem.domain.vo.WorkDailyReportVO">
        SELECT *
        FROM t_work_daily_report
        <where>
            <if test="queryForm.employeeId != null">
                AND employee_id = #{queryForm.employeeId}
            </if>
            <if test="queryForm.dataScopeEmployeeIdList != null and queryForm.dataScopeEmployeeIdList.size > 0">
                AND employee_id IN
                <foreach collection="queryForm.dataScopeEmployeeIdList" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="queryForm.departmentId != null">
                AND department_id = #{queryForm.departmentId}
            </if>
            <if test="queryForm.keywords != null and queryForm.keywords != ''">
                AND INSTR(employee_name, #{queryForm.keywords})
            </if>
            <if test="queryForm.status != null">
                AND status = #{queryForm.status}
            </if>
            <if test="queryForm.startDate != null">
                AND report_date &gt;= #{queryForm.startDate}
            </if>
            <if test="queryForm.endDate != null">
                AND report_date &lt;= #{queryForm.endDate}
            </if>
        </where>
        <if test="queryForm.sortItemList == null or queryForm.sortItemList.size == 0">
            ORDER BY report_date DESC, work_daily_report_id DESC
        </if>
    </select>

    <select id="queryEmployeeScore" resultType="net.lab1024.sa.admin.module.business.workitem.domain.vo.WorkScoreEmployeeVO">
        SELECT
            t_work_daily_report.employee_id,
            t_work_daily_report.employee_name,
            t_work_daily_report.department_id,
            t_work_daily_report.department_name,
            COUNT(DISTINCT t_work_daily_report.work_daily_report_id) AS report_count,
            COUNT(t_work_daily_report_item.work_daily_report_item_id) AS item_count,
            IFNULL(SUM(t_work_daily_report_item.final_score), 0) AS total_score
        FROM t_work_daily_report
        LEFT JOIN t_work_daily_report_item ON t_work_daily_report.work_daily_report_id = t_work_daily_report_item.work_daily_report_id
        <where>
            t_work_daily_report.status = #{auditPassStatus}
            AND t_work_daily_report.report_date &gt;= #{queryForm.startDate}
            AND t_work_daily_report.report_date &lt;= #{queryForm.endDate}
            <if test="queryForm.keywords != null and queryForm.keywords != ''">
                AND INSTR(t_work_daily_report.employee_name, #{queryForm.keywords})
            </if>
            <if test="queryForm.employeeId != null">
                AND t_work_daily_report.employee_id = #{queryForm.employeeId}
            </if>
            <if test="queryForm.dataScopeEmployeeIdList != null and queryForm.dataScopeEmployeeIdList.size > 0">
                AND t_work_daily_report.employee_id IN
                <foreach collection="queryForm.dataScopeEmployeeIdList" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="queryForm.departmentIdList != null and queryForm.departmentIdList.size > 0">
                AND t_work_daily_report.department_id IN
                <foreach collection="queryForm.departmentIdList" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY t_work_daily_report.employee_id, t_work_daily_report.employee_name, t_work_daily_report.department_id, t_work_daily_report.department_name
        ORDER BY total_score DESC, t_work_daily_report.employee_id ASC
    </select>

    <select id="queryDateScore" resultType="net.lab1024.sa.admin.module.business.workitem.domain.vo.WorkScoreDateVO">
        SELECT
            t_work_daily_report.report_date,
            COUNT(t_work_daily_report_item.work_daily_report_item_id) AS item_count,
            IFNULL(SUM(t_work_daily_report_item.final_score), 0) AS total_score
        FROM t_work_daily_report
        LEFT JOIN t_work_daily_report_item ON t_work_daily_report.work_daily_report_id = t_work_daily_report_item.work_daily_report_id
        <where>
            t_work_daily_report.status = #{auditPassStatus}
            AND t_work_daily_report.report_date &gt;= #{queryForm.startDate}
            AND t_work_daily_report.report_date &lt;= #{queryForm.endDate}
            <if test="queryForm.employeeId != null">
                AND t_work_daily_report.employee_id = #{queryForm.employeeId}
            </if>
            <if test="queryForm.dataScopeEmployeeIdList != null and queryForm.dataScopeEmployeeIdList.size > 0">
                AND t_work_daily_report.employee_id IN
                <foreach collection="queryForm.dataScopeEmployeeIdList" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="queryForm.departmentIdList != null and queryForm.departmentIdList.size > 0">
                AND t_work_daily_report.department_id IN
                <foreach collection="queryForm.departmentIdList" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY t_work_daily_report.report_date
        ORDER BY t_work_daily_report.report_date DESC
    </select>

</mapper>
